@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-items: center;
  margin: 0px;
  gap: 25px;
}
.logo {
  letter-spacing: 20px;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: black;
  color: white;
}
body > .reading-list {
  font-size: 20px;
  width: 1000px;
  border-bottom: 2px solid black;
  padding: 10px 0px;
}

.add-new-book {
  border: 2px solid black;
  border-radius: 20px;
  height: 50px;
  width: 200px;
  font-family: "Roboto", sans-serif;
  margin: 30px;
}
form {
  padding: 20px;
  background: #e5e4e2;
  display: none;
  height: 300px;
  width: 300px;
  border-radius: 20px;
}
.book-title-container > label {
}
input[type="text"],
input[type="number"] {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 10px;
}
button[type="submit"] {
  border-radius: 20px;
  border: grey 0.5px solid;
  height: 30px;
  width: 100px;
  justify-self: center;
}
.book-display {
  width: 1000px;
  display: grid;
  justify-content: center;
  grid-auto-rows: 50px;
  position: relative;
  margin: 0px 100px;
}
.book-display > .head {
  border-bottom: 1px black solid;
}
.list {
  display: grid;
  align-items: center;
  width: 1000px;
  grid-template: 60px / repeat(4, 1fr) 0.6fr;
}
.book {
  border-bottom: 0.5px grey solid;
}
.library-container {
  display: grid;
  grid-template-columns: 1000px;
  grid-auto-rows: 50px;
  height: 400px;
  overflow: auto;
}
select,
.delete {
  padding: 4px 0px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  appearance: none;
}
select {
  text-align: center;
}
.delete {
  background-color: lightpink;
  color: red;
}

select:focus {
  outline: none;
}
